<!DOCTYPE html>
<html>
  <head>
      <title>jQuery Forms</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
      <script type="text/javascript" src="forms.js"></script>
      <link rel="stylesheet" href="form-style.css" />
  </head>
  <body ng-app="app">
    <h1>Employee Form</h1>
    <div ng-controller="formController">
      <form id="employeeinfo">
        <label for="employeefirstname">First Name</label>
        <input ng-model="firstName" type="text" id="employeefirstname" name="employeefirstname" />

        <label for="employeelastname">Last Name</label>
        <input ng-model="lastName" type="text" id="employeelastname" name="employeelastname" />

        <label for="id">ID</label>
        <input type="text" ng-model="id" id="id" name="id" />

        <label for="jobTitle">Job Title</label>
        <input ng-model="title" type="text" id="jobTitle" name="jobTitle" />

        <label for="salary">Salary</label>
        <input ng-model="salary" type="text" id="salary" name="salary" />

        <input type="button" value="Submit Employee" ng-click="handleSubmit()" />
      </form>
      <div>
        <div ng-repeat="employee in employeeArray">
          <p>{{employee.first}}</p>
          <p>{{employee.last}}</p>
          <p>{{employee.title}}</p>
          <p>{{employee.salary}}</p>
          <p>{{employee.id}}</p>
        </div>
      </div>
    </div>
  </body>
</html>
